Repository ag2ai/ag2, pull requests merged in 2024-12, with the labels that each got.

#137 Add context variables to ConversableAgent
  autogen/agentchat/conversable_agent.py
  test/agentchat/test_conversable_agent.py
Labels: enhancement

#107 Swarm: Support for nested chat as a hand off
  autogen/agentchat/contrib/swarm_agent.py
  test/agentchat/contrib/test_swarm.py
  website/docs/topics/swarm.ipynb
Labels: enhancement, swarm

#115 ReasoningAgent
  autogen/agentchat/contrib/reasoning_agent.py
  notebook/agentchat_reasoning_agent.ipynb
  notebook/tree_of_thoughts.png
  test/agentchat/contrib/test_reasoning_agent.py
  website/blog/2024-12-02-ReasoningAgent2/img/tree-of-thoughts.png
  website/blog/2024-12-02-ReasoningAgent2/index.mdx
Labels: reasoning-agent

#145 Implement custom formatting in response_format
  autogen/agentchat/conversable_agent.py
  autogen/oai/anthropic.py
  autogen/oai/bedrock.py
  autogen/oai/cerebras.py
  autogen/oai/client.py
  autogen/oai/cohere.py
  autogen/oai/gemini.py
  autogen/oai/groq.py
  autogen/oai/mistral.py
  autogen/oai/ollama.py
  autogen/oai/together.py
  notebook/agentchat_structured_outputs.ipynb
  test/agentchat/test_structured_output.py
  test/oai/test_custom_client.py
Labels: enhancement

#141 GraphRAG demo with SwarmAgents
  .pre-commit-config.yaml
  autogen/agentchat/contrib/graph_rag/falkor_graph_query_engine.py
  autogen/agentchat/contrib/graph_rag/falkor_graph_rag_capability.py
  notebook/agentchat_swarm_graphrag_trip_planner.ipynb
  setup.py
  test/agentchat/contrib/graph_rag/trip_planner_data/attractions.json
  test/agentchat/contrib/graph_rag/trip_planner_data/cities.json
  test/agentchat/contrib/graph_rag/trip_planner_data/restaurants.json
  website/docs/Examples.md
  website/docs/topics/swarm.ipynb
Labels: RAG

#139 Neo4j Graph Rag Integration
  .github/workflows/contrib-graph-rag-tests.yml
  .pre-commit-config.yaml
  autogen/agentchat/contrib/graph_rag/neo4j_graph_query_engine.py
  autogen/agentchat/contrib/graph_rag/neo4j_graph_rag_capability.py
  notebook/agentchat_graph_rag_neo4j.ipynb
  setup.py
  test/agentchat/contrib/graph_rag/paul_graham_essay.txt
  test/agentchat/contrib/graph_rag/test_neo4j_graph_rag.py
Labels: RAG

#180 Bump version to 0.5.1
  autogen/version.py
Labels: version

#203 Tweaked telemetry notebook text
  notebook/agentchat_swarm_graphrag_telemetry_trip_planner.ipynb
Labels: documentation

#204 Updated Neo4j notebook (schema prioritised)
  notebook/agentchat_graph_rag_neo4j.ipynb
Labels: documentation, RAG

#212 Update version.py to 0.5.3
  autogen/version.py
Labels: bump

#104 Swarm: Allow functions to update agent's state, including system message, before replying
  autogen/agentchat/__init__.py
  autogen/agentchat/contrib/swarm_agent.py
  autogen/agentchat/conversable_agent.py
  test/agentchat/contrib/test_swarm.py
  website/docs/topics/swarm.ipynb
Labels: enhancement, swarm

#85 Updated bedrock.py to handle case of deploying it over Lambda function with attached role
  autogen/oai/bedrock.py
  website/docs/topics/non-openai-models/cloud-bedrock.ipynb
Labels: alt-models

#221 small typo in swarm doc
  website/docs/topics/swarm.ipynb
Labels: documentation, swarm

#227 Migrate Cerebras from Llama 3.1 70b to Llama 3.3 70b
  autogen/oai/cerebras.py
  test/oai/test_cerebras.py
  website/docs/topics/non-openai-models/cloud-cerebras.ipynb
Labels: alt-models

#201 Swarm: conditional hand-off transition improvements
  autogen/agentchat/contrib/swarm_agent.py
  test/agentchat/contrib/test_swarm.py
  website/docs/topics/swarm.ipynb
Labels: enhancement, swarm

#229 Enhanced Swarm notebook
  notebook/agentchat_swarm.ipynb
  notebook/agentchat_swarm_enhanced.ipynb
  notebook/swarm_enhanced_01.png
  notebook/swarm_enhanced_02.png
  notebook/swarm_enhanced_03.png
  notebook/swarm_enhanced_04.png
  notebook/swarm_enhanced_05.png
  website/docs/Examples.md
Labels: documentation, swarm

#197 Add Interoperable protocol and implement tool import from multiple frameworks
  .github/workflows/build.yml
  .github/workflows/openai.yml
  =8
  autogen/agentchat/conversable_agent.py
  autogen/coding/jupyter/embedded_ipython_code_executor.py
  autogen/interop/__init__.py
  autogen/interop/crewai/__init__.py
  autogen/interop/crewai/crewai.py
  autogen/interop/interoperability.py
  autogen/interop/interoperable.py
  autogen/interop/langchain/__init__.py
  autogen/interop/langchain/langchain.py
  autogen/interop/pydantic_ai/__init__.py
  autogen/interop/pydantic_ai/pydantic_ai.py
  autogen/interop/pydantic_ai/pydantic_ai_tool.py
  autogen/interop/registry.py
  autogen/tools/__init__.py
  autogen/tools/tool.py
  notebook/autobuild_agent_library.ipynb
  notebook/tools_interoperability.ipynb
  pyproject.toml
  setup.py
  setup_ag2.py
  setup_autogen.py
  test/interop/__init__.py
  test/interop/crewai/__init__.py
  test/interop/crewai/test_crewai.py
  test/interop/langchain/__init__.py
  test/interop/langchain/test_langchain.py
  test/interop/pydantic_ai/__init__.py
  test/interop/pydantic_ai/test_pydantic_ai.py
  test/interop/pydantic_ai/test_pydantic_ai_tool.py
  test/interop/test_interoperability.py
  test/interop/test_interoperable.py
  test/tools/__init__.py
  test/tools/test_tool.py
  website/blog/2024-12-18-Tools-interoperability/index.mdx
  website/blog/authors.yml
Labels: roadmap

#196 Implement RealtimeAgent for Real-Time Conversational AI Support in ag2 Framework
  autogen/agentchat/realtime_agent/__init__.py
  autogen/agentchat/realtime_agent/client.py
  autogen/agentchat/realtime_agent/function_observer.py
  autogen/agentchat/realtime_agent/realtime_agent.py
  autogen/agentchat/realtime_agent/realtime_observer.py
  autogen/agentchat/realtime_agent/twilio_observer.py
  autogen/agentchat/realtime_agent/websocket_observer.py
  notebook/agentchat_realtime_swarm.ipynb
  notebook/agentchat_realtime_tool.ipynb
  notebook/agentchat_realtime_websocket.ipynb
  notebook/agentchat_realtime_websocket/static/Audio.js
  notebook/agentchat_realtime_websocket/static/main.js
  notebook/agentchat_realtime_websocket/templates/chat.html
  setup.py
  setup_ag2.py
  setup_autogen.py
  website/blog/2024-12-18-RealtimeAgent/img/1_service_running.png
  website/blog/2024-12-18-RealtimeAgent/img/2_incoming_call.png
  website/blog/2024-12-18-RealtimeAgent/img/3_request_for_flight_cancellation.png
  website/blog/2024-12-18-RealtimeAgent/img/4_flight_number_name.png
  website/blog/2024-12-18-RealtimeAgent/img/5_refund_policy.png
  website/blog/2024-12-18-RealtimeAgent/img/6_flight_refunded.png
  website/blog/2024-12-18-RealtimeAgent/img/realtime_agent_swarm.png
  website/blog/2024-12-18-RealtimeAgent/index.mdx
  website/blog/authors.yml
Labels: roadmap

#264 Google Gemini Client fixes
  autogen/oai/gemini.py
Labels: bug, alt-models

#304 fix: adds missing import for gemini
  setup.py
Labels: bug, alt-models

#315 Swarm Asynchronous initiate_swarm_chat
  autogen/agentchat/__init__.py
  autogen/agentchat/contrib/swarm_agent.py
  autogen/agentchat/groupchat.py
  test/agentchat/contrib/test_swarm.py
  website/docs/topics/swarm.ipynb
Labels: enhancement, swarm

#309 Adding AnthropicVertexAI API support in the Anthropic LLM lib under oai
  autogen/oai/anthropic.py
  autogen/oai/client.py
  setup.py
  test/oai/test_anthropic.py
  website/docs/topics/non-openai-models/cloud-anthropic.ipynb
Labels: enhancement, alt-models
