Repository ag2ai/ag2, pull requests merged in 2025-01, with the labels that each got.

#217 Add swarm manager option
  autogen/agentchat/contrib/swarm_agent.py
Labels: swarm

#355 add method property to ReasoningAgent
  autogen/agentchat/contrib/reasoning_agent.py
Labels: reasoning-agent

#356 Swarm: Restore lost SWARM_MANAGER return
  autogen/agentchat/contrib/swarm_agent.py
Labels: bug, swarm

#349 add new class UpdateCondition to load context variables in OnCondition.condition
  autogen/agentchat/__init__.py
  autogen/agentchat/contrib/swarm_agent.py
  test/agentchat/contrib/test_swarm.py
  website/docs/topics/swarm.ipynb
Labels: enhancement, swarm

#386 [Docs] Fix Image in "ReasoningAgent Update" Blog Post
  website/blog/2024-12-20-Reasoning-Update/img/mcts_example.png
Labels: documentation

#373 Introduced Credentials into conftest and refactored tests
  test/agentchat/contrib/agent_eval/test_agent_eval.py
  test/agentchat/contrib/capabilities/chat_with_teachable_agent.py
  test/agentchat/contrib/capabilities/test_teachable_agent.py
  test/agentchat/contrib/capabilities/test_transform_messages.py
  test/agentchat/contrib/retrievechat/test_pgvector_retrievechat.py
  test/agentchat/contrib/retrievechat/test_qdrant_retrievechat.py
  test/agentchat/contrib/retrievechat/test_retrievechat.py
  test/agentchat/contrib/test_agent_builder.py
  test/agentchat/contrib/test_agent_optimizer.py
  test/agentchat/contrib/test_captainagent.py
  test/agentchat/contrib/test_gpt_assistant.py
  test/agentchat/contrib/test_society_of_mind_agent.py
  test/agentchat/contrib/test_web_surfer.py
  test/agentchat/realtime_agent/conftest.py
  test/agentchat/realtime_agent/realtime_test_utils.py
  test/agentchat/realtime_agent/test_e2e.py
  test/agentchat/realtime_agent/test_oai_realtime_client.py
  test/agentchat/test_agent_logging.py
  test/agentchat/test_agent_usage.py
  test/agentchat/test_assistant_agent.py
  test/agentchat/test_async.py
  test/agentchat/test_async_chats.py
  test/agentchat/test_async_get_human_input.py
  test/agentchat/test_cache_agent.py
  test/agentchat/test_chats.py
  test/agentchat/test_conversable_agent.py
  test/agentchat/test_dependancy_injection.py
  test/agentchat/test_function_call.py
  test/agentchat/test_function_call_groupchat.py
  test/agentchat/test_human_input.py
  test/agentchat/test_math_user_proxy_agent.py
  test/agentchat/test_nested.py
  test/agentchat/test_structured_output.py
  test/agentchat/test_tool_calls.py
  test/conftest.py
  test/interop/crewai/test_crewai.py
  test/interop/langchain/test_langchain.py
  test/interop/pydantic_ai/test_pydantic_ai.py
  test/io/test_websockets.py
  test/oai/_test_completion.py
  test/oai/test_client.py
  test/oai/test_client_stream.py
  test/test_browser_utils.py
  test/test_code_utils.py
  test/twoagent.py
Labels: testing

#408 Bump version to 0.7
  autogen/version.py
Labels: bump

#336 Structured outputs for Anthropic / Gemini / Ollama
  autogen/oai/anthropic.py
  autogen/oai/client.py
  autogen/oai/client_utils.py
  autogen/oai/gemini.py
  autogen/oai/ollama.py
  notebook/agentchat_structured_outputs.ipynb
  pyproject.toml
  test/oai/test_anthropic.py
  test/oai/test_gemini.py
  test/oai/test_ollama.py
  website/docs/topics/non-openai-models/cloud-anthropic.ipynb
  website/docs/topics/non-openai-models/cloud-gemini.ipynb
Labels: alt-models

#347 OpenAI o1 support
  .github/workflows/docs-test.yml
  autogen/exception_utils.py
  autogen/oai/client.py
  autogen/oai/openai_utils.py
  pyproject.toml
  test/conftest.py
  test/oai/test_client.py
Labels: o1

#542 wording of the docs
  .devcontainer/README.md
  .devcontainer/dev/Dockerfile
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/general_issue.yml
  README.md
  TRANSPARENCY_FAQS.md
  test/website/test_process_api_reference.py
  test/website/test_process_notebooks.py
  website/_blogs/2023-10-18-RetrieveChat/index.mdx
  website/docs/Notebooks.mdx
  website/docs/contributor-guide/docker.mdx
  website/docs/ecosystem/agentops.mdx
  website/docs/ecosystem/composio.mdx
  website/docs/ecosystem/databricks.mdx
  website/docs/ecosystem/llamaindex.mdx
  website/docs/ecosystem/mem0.mdx
  website/docs/ecosystem/memgpt.mdx
  website/docs/ecosystem/microsoft-fabric.mdx
  website/docs/ecosystem/ollama.mdx
  website/docs/ecosystem/pgvector.mdx
  website/docs/ecosystem/portkey.mdx
  website/docs/ecosystem/promptflow.mdx
  website/docs/installation/Docker.mdx
  website/docs/installation/Installation.mdx
  website/docs/installation/Optional-Dependencies.mdx
  website/docs/topics/non-openai-models/cloud-bedrock.ipynb
  website/docs/topics/non-openai-models/cloud-cerebras.ipynb
  website/mint-json-template.json
  website/mint-style.css
Labels: documentation

#562 Updated test of CrewAI tool description
  test/interop/crewai/test_crewai.py
  test/interop/test_interoperability.py
Labels: testing

#358 Swarm: Support AfterWorkOption in SwarmResult agent parameter
  autogen/agentchat/contrib/swarm_agent.py
  test/agentchat/contrib/test_swarm.py
  website/docs/topics/swarm.ipynb
Labels: enhancement, swarm

#578 [Docs] Fix broken tab navigation in LLM Configuration User Guide
  test/website/test_process_notebooks.py
  website/docs/topics/llm_configuration.ipynb
  website/process_notebooks.py
Labels: documentation

#592 Minor Bug Fix for swarm
  autogen/agentchat/contrib/swarm_agent.py
Labels: swarm

#623 Update version to v0.7.2b1
  autogen/version.py
Labels: bump

#637 Update text in GroupChat customized speaker selection notebook
  notebook/agentchat_groupchat_customized.ipynb
Labels: documentation

#706 Update version to 0.7.3
  autogen/version.py
Labels: bump

#709 WebSurferAgent and Browser Tool notebook tidy
  notebook/agentchat_assistant_agent_standalone.ipynb
  notebook/agents_websurfer.ipynb
  notebook/tools_browser_use.ipynb
  notebook/tools_browser_use_deepseek.ipynb
  notebook/tools_crawl4ai.ipynb
Labels: documentation

#732 [Docs] Fixing links, converting old pages
  website/.gitignore
  website/_blogs/2024-02-11-FSM-GroupChat/index.mdx
  website/_blogs/2024-06-24-AltModels-Classes/index.mdx
  website/_blogs/2024-07-25-AgentOps/index.mdx
  website/_blogs/2024-11-15-CaptainAgent/index.mdx
  website/_blogs/2024-11-27-Prompt-Leakage-Probing/index.mdx
  website/_blogs/2024-12-02-ReasoningAgent2/index.mdx
  website/_blogs/2024-12-06-FalkorDB-Structured/index.mdx
  website/_blogs/2024-12-20-Reasoning-Update/index.mdx
  website/contributor-guide/contributing.mdx
  website/contributor-guide/setup-development-environment.mdx
  website/docs/autogen-studio/faqs.mdx
  website/docs/autogen-studio/getting-started.mdx
  website/docs/autogen-studio/img/agent_assistant.png
  website/docs/autogen-studio/img/agent_groupchat.png
  website/docs/autogen-studio/img/agent_new.png
  website/docs/autogen-studio/img/agent_skillsmodel.png
  website/docs/autogen-studio/img/ara_stockprices.png
  website/docs/autogen-studio/img/model_new.png
  website/docs/autogen-studio/img/model_openai.png
  website/docs/autogen-studio/img/skill.png
  website/docs/autogen-studio/img/workflow_chat.png
  website/docs/autogen-studio/img/workflow_export.png
  website/docs/autogen-studio/img/workflow_new.png
  website/docs/autogen-studio/img/workflow_profile.png
  website/docs/autogen-studio/img/workflow_sequential.png
  website/docs/autogen-studio/img/workflow_test.png
  website/docs/autogen-studio/usage.mdx
  website/docs/use-cases/use-cases/customer-service.mdx
  website/docs/use-cases/use-cases/travel-planning.mdx
  website/docs/user-guide/advanced-concepts/assets/group-chat.png
  website/docs/user-guide/advanced-concepts/assets/nested-chats.png
  website/docs/user-guide/advanced-concepts/assets/sequential-two-agent-chat.png
  website/docs/user-guide/advanced-concepts/assets/two-agent-chat.png
  website/docs/user-guide/advanced-concepts/code-execution.mdx
  website/docs/user-guide/advanced-concepts/conversation-patterns-deep-dive.mdx
  website/docs/user-guide/advanced-concepts/custom-group-chat.mdx
  website/docs/user-guide/advanced-concepts/enhanced-swarm.mdx
  website/docs/user-guide/advanced-concepts/llm-configuration-deep-dive.mdx
  website/docs/user-guide/advanced-concepts/rag.mdx
  website/docs/user-guide/advanced-concepts/swarm-deep-dive.mdx
  website/docs/user-guide/advanced-concepts/tools-with-secrets.mdx
  website/docs/user-guide/basic-concepts/human-in-the-loop.mdx
  website/docs/user-guide/basic-concepts/index.md
  website/docs/user-guide/basic-concepts/installing-ag2.mdx
  website/docs/user-guide/basic-concepts/llm-configuration.mdx
  website/docs/user-guide/basic-concepts/orchestrations.mdx
  website/docs/user-guide/basic-concepts/structured-outputs.mdx
  website/docs/user-guide/models/anthropic.mdx
  website/docs/user-guide/quick-start.mdx
  website/faq/FAQ.mdx
  website/mint-json-template.json.jinja
  website/snippets/python-examples/groupchatcustomfsm.mdx
  website/snippets/python-examples/groupchatcustomfunc.mdx
  website/snippets/python-examples/swarmenhanced.mdx
  website/use-cases/agent_chat.mdx
Labels: documentation

#733 [Docs] More link updates for new documentation
  notebook/agentchat_captainagent_crosstool.ipynb
  notebook/agentchat_swarm.ipynb
  notebook/agentchat_swarm_enhanced.ipynb
  website/.gitignore
  website/README.md
  website/_blogs/2023-05-18-GPT-adaptive-humaneval/index.mdx
  website/_blogs/2024-02-29-StateFlow/index.mdx
  website/_blogs/2024-03-03-AutoGen-Update/index.mdx
  website/_blogs/2024-05-24-Agent/index.mdx
  website/_blogs/2024-11-17-Swarm/index.mdx
  website/_blogs/2024-12-20-RealtimeAgent/index.mdx
  website/_blogs/2024-12-20-Tools-interoperability/index.mdx
  website/_blogs/2025-01-07-Tools-Dependency-Injection/index.mdx
  website/_blogs/2025-01-08-RealtimeAgent-over-websocket/index.mdx
  website/_blogs/2025-01-09-RealtimeAgent-over-WebRTC/index.mdx
  website/_blogs/2025-01-10-WebSockets/index.mdx
  website/_blogs/2025-01-22-Tools-ChatContext-Dependency-Injection/index.mdx
  website/contributor-guide/documentation.mdx
  website/contributor-guide/setup-development-environment.mdx
  website/docs/installation/Optional-Dependencies.mdx
  website/docs/use-cases/reference-agents/index.mdx
  website/docs/use-cases/use-cases/customer-service.mdx
  website/docs/use-cases/use-cases/travel-planning.mdx
  website/docs/user-guide/basic-concepts/orchestrations.mdx
  website/docs/user-guide/models/deepseek-v3.mdx
  website/docs/user-guide/models/google-gemini.mdx
  website/docs/user-guide/models/vLLM.mdx
  website/ecosystem/agentops.mdx
  website/ecosystem/databricks.mdx
  website/ecosystem/promptflow.mdx
  website/faq/FAQ.mdx
  website/mint-json-template.json.jinja
  website/use-cases/agent_chat.mdx
  website/use-cases/enhanced_inference.mdx
  website/user-guide/llm-caching.mdx
  website/user-guide/llm-observability.mdx
  website/user-guide/non-openai-models/cloud-anthropic.ipynb
  website/user-guide/openai-assistant/gpt_assistant_agent.mdx
Labels: documentation

#734 [Docs] Installation link fixes for new documentation
  notebook/agentchat_MathChat.ipynb
  notebook/agentchat_RetrieveChat.ipynb
  notebook/agentchat_RetrieveChat_mongodb.ipynb
  notebook/agentchat_RetrieveChat_pgvector.ipynb
  notebook/agentchat_RetrieveChat_qdrant.ipynb
  notebook/agentchat_agentops.ipynb
  notebook/agentchat_auto_feedback_from_code_execution.ipynb
  notebook/agentchat_captainagent.ipynb
  notebook/agentchat_custom_model.ipynb
  notebook/agentchat_function_call_async.ipynb
  notebook/agentchat_graph_rag_falkordb.ipynb
  notebook/agentchat_groupchat.ipynb
  notebook/agentchat_groupchat_RAG.ipynb
  notebook/agentchat_groupchat_customized.ipynb
  notebook/agentchat_groupchat_finite_state_machine.ipynb
  notebook/agentchat_groupchat_research.ipynb
  notebook/agentchat_groupchat_stateflow.ipynb
  notebook/agentchat_groupchat_vis.ipynb
  notebook/agentchat_image_generation_capability.ipynb
  notebook/agentchat_lmm_gpt-4v.ipynb
  notebook/agentchat_memory_using_mem0.ipynb
  notebook/agentchat_multi_task_async_chats.ipynb
  notebook/agentchat_multi_task_chats.ipynb
  notebook/agentchat_nested_sequential_chats.ipynb
  notebook/agentchat_nestedchat.ipynb
  notebook/agentchat_nestedchat_optiguide.ipynb
  notebook/agentchat_oai_assistant_function_call.ipynb
  notebook/agentchat_oai_assistant_groupchat.ipynb
  notebook/agentchat_oai_code_interpreter.ipynb
  notebook/agentchat_realtime_gemini_swarm_websocket.ipynb
  notebook/agentchat_realtime_gemini_websocket.ipynb
  notebook/agentchat_realtime_swarm.ipynb
  notebook/agentchat_realtime_swarm_webrtc.ipynb
  notebook/agentchat_realtime_swarm_websocket.ipynb
  notebook/agentchat_realtime_webrtc.ipynb
  notebook/agentchat_realtime_websocket.ipynb
  notebook/agentchat_society_of_mind.ipynb
  notebook/agentchat_structured_outputs.ipynb
  notebook/agentchat_swarm.ipynb
  notebook/agentchat_swarm_enhanced.ipynb
  notebook/agentchat_swarm_graphrag_trip_planner.ipynb
  notebook/agentchat_swarm_w_groupchat_legacy.ipynb
  notebook/agentchat_teachability.ipynb
  notebook/agentchat_teaching.ipynb
  notebook/agentchat_transform_messages.ipynb
  notebook/agentchat_video_transcript_translate_with_whisper.ipynb
  notebook/agentchat_websockets.ipynb
  notebook/agentchat_with_memory.ipynb
  notebook/agentchats_sequential_chats.ipynb
  notebook/contributing.md
  website/docs/tutorial/introduction.ipynb
  website/docs/user-guide/models/vLLM.mdx
  website/user-guide/handling_long_contexts/compressing_text_w_llmligua.mdx
  website/user-guide/handling_long_contexts/intro_to_transform_messages.mdx
Labels: documentation

#748 [Docs] Rename Home to Key Features, move Quick Start, Meet our Agents > Overview
  website/docs/home/home.mdx
  website/docs/home/quick-start.mdx
  website/docs/use-cases/reference-agents/index.mdx
  website/mint-json-template.json.jinja
Labels: documentation
