Repository ag2ai/ag2, pull requests merged in 2025-08, with the labels that each got.

#1983 feat:[MCPClientSessionManager] can manage SSE and Stdio session both
  autogen/mcp/mcp_client.py
  notebook/agentchat_mcp_client_session_manager.py
  test/mcp/test_mcp.py
Labels: review required

#1988 fix: proccess messages without content
  autogen/agentchat/groupchat.py
Labels: bug, review required

#2002 feat: Add verbosity support for GPT-5, GPT-5-mini, GPT-5-nano
  autogen/llm_config.py
  autogen/oai/client.py
  autogen/oai/openai_responses.py
  autogen/oai/openai_utils.py
  notebook/agentchat_gpt-5_verbosity_example.ipynb
  pyproject.toml
  test/oai/test_client.py
  test/oai/test_responses_client.py
  test/test_notebook.py
Labels: review required

#1993 fix: Error when calling with azureopenai
  autogen/oai/client.py
Labels: review required

#2051 Bump version to 0.9.9
  autogen/import_utils.py
  autogen/version.py
  test/test_import_utils.py
Labels: bump
