Repository ag2ai/ag2, pull requests merged in 2025-04, with the labels that each got.

#1512 Run and notebook tweaks
  notebook/run_and_event_processing.ipynb
  website/docs/_blogs/2025-01-31-WebSurferAgent/index.mdx
  website/docs/home/quick-start.mdx
  website/docs/user-guide/reference-agents/docagent.mdx
  website/docs/user-guide/reference-tools/google-api/google-search.mdx
  website/docs/user-guide/reference-tools/google-api/youtube-search.mdx
  website/snippets/python-examples/conversableagentchat.mdx
  website/snippets/python-examples/structured_output.mdx
  website/snippets/reference-tools/google-drive.mdx
Labels: documentation

#1527 Document tidy
  website/docs/user-guide/advanced-concepts/llm-configuration-deep-dive.mdx
  website/docs/user-guide/advanced-concepts/swarm/deep-dive.mdx
  website/docs/user-guide/basic-concepts/installing-ag2.mdx
  website/docs/user-guide/basic-concepts/llm-configuration/llm-configuration.mdx
  website/docs/user-guide/basic-concepts/orchestration/ending-a-chat.mdx
  website/mkdocs/mkdocs.yml
Labels: documentation

#1535 [Docs] Publish AgentWeb's user story
  website/blogs_and_user_stories_authors.yml
  website/docs/user-stories/2025-04-04-AgentWeb/img/01.png
  website/docs/user-stories/2025-04-04-AgentWeb/img/banner.png
  website/docs/user-stories/2025-04-04-AgentWeb/img/profile.png
  website/docs/user-stories/2025-04-04-AgentWeb/index.mdx
  website/mkdocs/docs/javascripts/extra.js
  website/mkdocs/docs/stylesheets/extra.css
Labels: documentation

#1542 Fix ConversableAgent documentation
  website/snippets/python-examples/conversableagentchat.mdx
Labels: documentation

#1534 feat: Update LLM configuration documentation
  website/docs/user-guide/basic-concepts/llm-configuration/llm-configuration.mdx
Labels: help from community wanted

#1607 [Docs] Home Page bug fix on desktop breakpoint
  website/mkdocs/overrides/home.html
Labels: bug, ui

#1609 Bump version to 0.8.6
  autogen/version.py
Labels: bump

#1633 [Docs] Remove unnecessary info
  website/docs/user-stories/2025-04-11-Productionizing-OSS-Agents/index.mdx
Labels: documentation

#1651 Docs polishing
  website/docs/contributor-guide/documentation.mdx
  website/docs/user-guide/basic-concepts/human-in-the-loop.mdx
Labels: documentation

#1662 Allow lists to be a parameter in a function for a tool
  autogen/tools/function_utils.py
  test/tools/test_function_utils.py
Labels: bug

#1666 OpenAI ChatCompletion alignment, Tavily test fix, Anthropic test fix
  autogen/oai/oai_models/chat_completion.py
  test/oai/test_anthropic.py
  test/tools/experimental/tavily/test_tavily.py
Labels: testing

#1665 Update version to 0.8.7
  autogen/version.py
Labels: bump

#1669 Google Drive tools - Add ability to download to a subfolder
  autogen/tools/experimental/google/drive/drive_functions.py
  autogen/tools/experimental/google/drive/toolkit.py
Labels: tool use

#1675 [Docs] Add NOVA community talk
  autogen/_website/generate_mkdocs.py
  test/website/test_generate_mkdocs.py
  website/docs/community-talks/2025-04-10-NOVA/index.mdx
Labels: documentation

#1685 Fix missing context_variables in Swarm notebook
  notebook/agentchat_swarm.ipynb
Labels: documentation, swarm

#1703 [Docs} add documentation about the new group chat
  website/docs/user-guide/advanced-concepts/ending-a-chat.mdx
  website/docs/user-guide/advanced-concepts/nested-chat.mdx
  website/docs/user-guide/advanced-concepts/orchestration/assets/nested-chats.png
  website/docs/user-guide/advanced-concepts/orchestration/assets/sequential-two-agent-chat.png
  website/docs/user-guide/advanced-concepts/orchestration/ending-a-chat.mdx
  website/docs/user-guide/advanced-concepts/orchestration/group-chat.mdx
  website/docs/user-guide/advanced-concepts/orchestration/group-chat/agent-tools-functions.mdx
  website/docs/user-guide/advanced-concepts/orchestration/group-chat/context-variables.mdx
  website/docs/user-guide/advanced-concepts/orchestration/group-chat/handoffs.mdx
  website/docs/user-guide/advanced-concepts/orchestration/group-chat/introduction.mdx
  website/docs/user-guide/advanced-concepts/orchestration/group-chat/patterns.mdx
  website/docs/user-guide/advanced-concepts/orchestration/nested-chat.mdx
  website/docs/user-guide/advanced-concepts/orchestration/orchestrations.mdx
  website/docs/user-guide/advanced-concepts/orchestration/sequential-chat.mdx
  website/docs/user-guide/advanced-concepts/orchestration/swarm/deprecation.mdx
  website/docs/user-guide/advanced-concepts/orchestration/two-agent-chat.mdx
  website/docs/user-guide/advanced-concepts/orchestrations.mdx
  website/docs/user-guide/advanced-concepts/sequential-chat.mdx
  website/docs/user-guide/advanced-concepts/tools/basics.mdx
  website/docs/user-guide/advanced-concepts/tools/controlling-use.mdx
  website/docs/user-guide/advanced-concepts/tools/index.mdx
  website/docs/user-guide/advanced-concepts/tools/interop/crewai.mdx
  website/docs/user-guide/advanced-concepts/tools/interop/langchain.mdx
  website/docs/user-guide/advanced-concepts/tools/interop/pydanticai.mdx
  website/docs/user-guide/advanced-concepts/tools/mcp/client.mdx
  website/docs/user-guide/advanced-concepts/tools/tools-with-secrets.mdx
  website/docs/user-guide/basic-concepts/group-chat/handoffs.mdx
  website/docs/user-guide/basic-concepts/group-chat/introduction.mdx
  website/docs/user-guide/basic-concepts/group-chat/patterns.mdx
  website/docs/user-guide/basic-concepts/introducing-group-chat.mdx
  website/docs/user-guide/basic-concepts/introducing-tools.mdx
  website/docs/user-guide/basic-concepts/llm-configuration.mdx
  website/mint-json-template.json.jinja
Labels: documentation

#1698 Check group-level afterwork when validating group manager's LLM Config
  autogen/agentchat/group/group_utils.py
  autogen/agentchat/group/patterns/pattern.py
Labels: bug

#1696 Don't add existing tool to _tools on ConversableAgent
  autogen/agentchat/conversable_agent.py
Labels: bug

#1714 Bump version to 0.9.0
  autogen/version.py
Labels: bump

#1730 [Docs] Setup additional 301 redirects
  website/mkdocs/mkdocs.yml
Labels: documentation

#1739 0.9 blog code updates
  website/docs/_blogs/2025-04-28-0.9-Release-Announcement/index.mdx
Labels: documentation

#1712 [Docs] Update diagram on Human in the Loop Example
  website/docs/user-guide/basic-concepts/assets/human-in-the-loop-example.png
  website/docs/user-guide/basic-concepts/human-in-the-loop.mdx
Labels: documentation
