Repository ag2ai/ag2, pull requests merged in 2025-02, with the labels that each got.

#737 [Docs] Fix popular resources text color in dark mode
  website/mint-style.css
Labels: documentation

#369 Swarm: User-defined AfterWork string for agent selection using LLM
  autogen/agentchat/__init__.py
  autogen/agentchat/contrib/swarm_agent.py
  autogen/agentchat/groupchat.py
  website/docs/topics/swarm.ipynb
Labels: enhancement, swarm

#316 Merge SwarmAgent into ConversableAgent
  autogen/__init__.py
  autogen/agentchat/__init__.py
  autogen/agentchat/contrib/swarm_agent.py
  autogen/agentchat/conversable_agent.py
  autogen/agentchat/groupchat.py
  autogen/agentchat/realtime/experimental/realtime_swarm.py
  notebook/agentchat_realtime_swarm.ipynb
  notebook/agentchat_swarm.ipynb
  notebook/agentchat_swarm_enhanced.ipynb
  notebook/agentchat_swarm_graphrag_telemetry_trip_planner.ipynb
  notebook/agentchat_swarm_graphrag_trip_planner.ipynb
  test/agentchat/contrib/test_swarm.py
  test/agentchat/realtime_agent/test_swarm_start.py
  test/agentchat/test_conversable_agent.py
  test/test_logging.py
  website/_blogs/2024-11-17-Swarm/index.mdx
  website/_blogs/2024-12-20-RealtimeAgent/index.mdx
Labels: swarm

#835 [Bug fix]: Fix tool registration from a Tool
  autogen/agentchat/conversable_agent.py
Labels: bug

#856 [Docs] Replace run with initiate_chat for docs until code execution default changed
  website/docs/home/quick-start.mdx
  website/docs/user-guide/basic-concepts/conversable-agent.mdx
  website/docs/user-guide/basic-concepts/human-in-the-loop.mdx
  website/docs/user-guide/basic-concepts/index.md
  website/snippets/python-examples/conversableagentchat.mdx
  website/snippets/python-examples/humanintheloop.mdx
  website/snippets/python-examples/structured_output.mdx
Labels: documentation

#935 [Docs] Show the images referred in the notebooks in docs
  .secrets.baseline
  autogen/_website/process_notebooks.py
  notebook/agentchat_groupchat_vis.ipynb
  test/website/test_process_notebooks.py
Labels: documentation

#972 Update agents_deep_researcher.ipynb
  notebook/agents_deep_researcher.ipynb
Labels: documentation

#965 [Docs] Update docstring formatting
  website/mako_templates/text.mako
Labels: documentation

#816 [Docs] Communication Tools and Agents documentation
  notebook/commsplatforms_discord_sentmsg.png
  notebook/commsplatforms_slack_sentmsg.png
  notebook/commsplatforms_telegram_sentmsg.png
  notebook/tools_commsplatforms.ipynb
  website/_blogs/2025-02-05-Communication-Agents/img/commsagents_discord_msg.png
  website/_blogs/2025-02-05-Communication-Agents/img/commsagents_slack_finalmsg.png
  website/_blogs/2025-02-05-Communication-Agents/img/commsagents_slack_msg.png
  website/_blogs/2025-02-05-Communication-Agents/img/commsagents_telegram_msg.png
  website/_blogs/2025-02-05-Communication-Agents/index.mdx
Labels: agents:commsagent

#174 Add Couchbase VectorDB Support for AG2
  .github/workflows/contrib-test.yml
  .github/workflows/test-with-optional-deps.yml
  autogen/agentchat/contrib/vectordb/base.py
  autogen/agentchat/contrib/vectordb/couchbase.py
  notebook/agentchat_RetrieveChat_couchbase.ipynb
  pyproject.toml
  setup_ag2.py
  setup_autogen.py
  test/agentchat/contrib/vectordb/test_couchbase.py
  website/_blogs/2023-10-18-RetrieveChat/index.mdx
Labels: enhancement

#979 Couchbase fixes for documentation and tests
  .github/workflows/contrib-test.yml
  .github/workflows/test-with-optional-deps.yml
  autogen/agentchat/contrib/vectordb/couchbase.py
  test/agentchat/contrib/vectordb/test_couchbase.py
Labels: bug, documentation

#982 [Docs] Add Comms Agents to Reference Agents documentation
  website/_blogs/2025-02-05-Communication-Agents/index.mdx
  website/docs/use-cases/reference-agents/assets/commsagents_discordoutput.png
  website/docs/use-cases/reference-agents/assets/commsagents_tools.png
  website/docs/use-cases/reference-agents/communication-agents.mdx
  website/docs/use-cases/reference-agents/index.mdx
  website/docs/use-cases/reference-agents/websurferagent.mdx
  website/mint-json-template.json.jinja
Labels: documentation, agents:commsagent

#992 [Docs] Fix warning, incorrect link, and add API links.
  website/docs/use-cases/reference-agents/communication-agents.mdx
Labels: documentation, agents:commsagent

#977 Update Swarm Document
  website/docs/user-guide/advanced-concepts/swarm-deep-dive.mdx
  website/docs/user-guide/advanced-concepts/swarm/concept-code.mdx
  website/docs/user-guide/advanced-concepts/swarm/deep-dive.mdx
  website/docs/user-guide/advanced-concepts/swarm/nested-chat.mdx
  website/docs/user-guide/advanced-concepts/swarm/use-case.mdx
  website/mint-json-template.json.jinja
Labels: documentation

#989 Add tools property to ConversableAgent
  .secrets.baseline
  autogen/agentchat/conversable_agent.py
  autogen/agents/experimental/deep_research/deep_research.py
  autogen/agents/experimental/discord/discord.py
  autogen/agents/experimental/slack/slack.py
  autogen/agents/experimental/telegram/telegram.py
  autogen/agents/experimental/websurfer/websurfer.py
  test/agentchat/test_conversable_agent.py
Labels: enhancement

#990 Fix Swarm registration of an agent's tools from their tools property
  .secrets.baseline
  autogen/agentchat/contrib/swarm_agent.py
  test/agentchat/contrib/test_swarm.py
Labels: bug

#1043 Bump version to 0.7.5
  autogen/version.py
Labels: bump

#1059 DocAgent rename and demonstration documentation
  autogen/agents/experimental/__init__.py
  autogen/agents/experimental/document_agent/__init__.py
  autogen/agents/experimental/document_agent/document_agent.py
  notebook/agentchat_MathChat.ipynb
  notebook/agents_docagent.ipynb
  notebook/agents_document_agent.ipynb
  notebook/docagent/AMDQ4-2024.pdf
  notebook/docagent/NVIDIAQ3-2025.pdf
  notebook/docagent_swarm.png
  test/agents/experimental/document_agent/test_docagent.py
  website/docs/user-guide/advanced-concepts/rag.mdx
  website/docs/user-guide/reference-agents/docagent.mdx
  website/docs/user-guide/reference-agents/index.mdx
  website/mint-json-template.json.jinja
Labels: documentation

#1096 Correct hook processing order on ConversableAgent.a_generate_reply
  autogen/agentchat/conversable_agent.py
Labels: bug

#370 Update Cohere client library to V2 with Structured Outputs
  autogen/oai/cohere.py
  pyproject.toml
  test/oai/test_cohere.py
Labels: alt-models

#1139 Swarm and Google Gemini client test fixes
  autogen/oai/gemini.py
  test/agentchat/contrib/test_swarm.py
Labels: bug, testing

#1141 Fix agents and agents tests checks
  autogen/agents/experimental/discord/discord.py
  autogen/agents/experimental/slack/slack.py
  autogen/agents/experimental/telegram/telegram.py
  autogen/agents/experimental/websurfer/websurfer.py
  pyproject.toml
  test/agents/experimental/deep_research/test_deep_research.py
  test/agents/experimental/messageplatform/discord/test_discord.py
  test/agents/experimental/messageplatform/slack/test_slack.py
  test/agents/experimental/messageplatform/telegram/test_telegram.py
  test/agents/experimental/websurfer/test_websurfer.py
Labels: bug, testing

#1143 Enable tool removal by name
  autogen/agentchat/conversable_agent.py
  test/agentchat/test_conversable_agent.py
Labels: bug

#1159 Update Discord/Slack/Telegram Agent inits
  autogen/agents/experimental/discord/discord.py
  autogen/agents/experimental/slack/slack.py
  autogen/agents/experimental/telegram/telegram.py
Labels: bug

#1098 How AG2 Works documentation for agent and tool builders
  autogen/agents/contrib/__init__.py
  autogen/agents/contrib/time/__init__.py
  autogen/agents/contrib/time/time_reply_agent.py
  autogen/agents/contrib/time/time_tool_agent.py
  autogen/tools/contrib/__init__.py
  autogen/tools/contrib/time/__init__.py
  autogen/tools/contrib/time/time.py
  test/agents/contrib/__init__.py
  test/agents/contrib/time/__init__.py
  test/agents/contrib/time/test_timereplyagent.py
  test/agents/contrib/time/test_timetoolagent.py
  test/tools/contrib/__init__.py
  test/tools/contrib/time/__init__.py
  test/tools/contrib/time/test_time.py
  website/docs/contributor-guide/building/creating-a-tool.mdx
  website/docs/contributor-guide/building/creating-an-agent.mdx
  website/docs/contributor-guide/how-ag2-works/assets/generate-reply.png
  website/docs/contributor-guide/how-ag2-works/assets/initiate-chat.png
  website/docs/contributor-guide/how-ag2-works/generate-reply.mdx
  website/docs/contributor-guide/how-ag2-works/hooks.mdx
  website/docs/contributor-guide/how-ag2-works/initiate-chat.mdx
  website/docs/contributor-guide/how-ag2-works/overview.mdx
  website/mint-json-template.json.jinja
Labels: documentation

#1163 Further test updates to cater for openai dependency
  test/agentchat/contrib/capabilities/test_image_generation_capability.py
  test/agentchat/contrib/capabilities/test_teachable_agent.py
  test/agentchat/contrib/test_agent_builder.py
  test/agentchat/contrib/test_gpt_assistant.py
  test/agentchat/contrib/test_lmm.py
  test/agentchat/contrib/test_reasoning_agent.py
  test/agentchat/contrib/test_swarm.py
  test/agentchat/contrib/test_web_surfer.py
  test/agentchat/realtime_agent/realtime_test_utils.py
  test/agentchat/test_structured_output.py
  test/oai/test_gemini.py
  test/test_logging.py
Labels: testing

#1164 Further changes to accommodate openai as dependency (P3)
  autogen/oai/client.py
  test/agentchat/contrib/capabilities/test_vision_capability.py
  test/agentchat/contrib/test_llava.py
  test/agentchat/realtime_agent/test_e2e.py
  test/agentchat/realtime_agent/test_swarm_start.py
  test/agentchat/test_agent_logging.py
  test/test_retrieve_utils.py
Labels: testing

#1169 Update to OnCondition, AfterWork, and UpdateSystemMessage in documentation
  website/docs/user-guide/advanced-concepts/swarm/use-case.mdx
  website/snippets/python-examples/swarm.mdx
  website/snippets/python-examples/swarmenhanced.mdx
Labels: documentation, swarm

#1137 In Memory query engine for DocAgent
  autogen/agentchat/contrib/rag/__init__.py
  autogen/agentchat/contrib/rag/query_engine.py
  autogen/agents/experimental/__init__.py
  autogen/agents/experimental/document_agent/__init__.py
  autogen/agents/experimental/document_agent/chroma_query_engine.py
  autogen/agents/experimental/document_agent/docling_doc_ingest_agent.py
  autogen/agents/experimental/document_agent/document_agent.py
  autogen/agents/experimental/document_agent/inmemory_query_engine.py
  autogen/agents/experimental/document_agent/parser_utils.py
  test/agents/experimental/document_agent/test_parser_utils.py
Labels: agents:docagent

#1186 Update RetrieveChat notebook example and minor internal naming updates
  autogen/agentchat/contrib/retrieve_user_proxy_agent.py
  autogen/agentchat/contrib/vectordb/chromadb.py
  autogen/agentchat/contrib/vectordb/pgvectordb.py
  notebook/agentchat_RetrieveChat.ipynb
  test/agentchat/contrib/retrievechat/test_qdrant_retrievechat.py
  test/test_retrieve_utils.py
Labels: documentation
