Repository ag2ai/ag2, pull requests merged in 2025-07, with the labels that each got.

#1936 feat: Add configurable routing method to LLMConfig and OpenAIWrapper
  autogen/llm_config.py
  autogen/oai/client.py
  test/oai/test_client.py
  test/test_llm_config.py
Labels: enhancement, LLMConfig

#1371 Python code execution tool (System/Venv/Docker)
  autogen/environments/__init__.py
  autogen/environments/docker_python_environment.py
  autogen/environments/python_environment.py
  autogen/environments/system_python_environment.py
  autogen/environments/venv_python_environment.py
  autogen/environments/working_directory.py
  autogen/tools/experimental/__init__.py
  autogen/tools/experimental/code_execution/__init__.py
  autogen/tools/experimental/code_execution/python_code_execution.py
  website/docs/user-guide/reference-tools/code-execution.mdx
  website/mint-json-template.json.jinja
  website/snippets/reference-tools/code-execution-docker.mdx
  website/snippets/reference-tools/code-execution-system.mdx
  website/snippets/reference-tools/code-execution-venv.mdx
Labels: enhancement

#1955 Add support for seed parameter for Gemini client
  autogen/oai/gemini.py
  test/oai/test_gemini.py
Labels: LLMConfig
