Repository ag2ai/ag2, pull requests merged in 2025-05, with the labels that each got.

#1710 [Docs] Update diagram on Basic Concepts / Overview
  website/docs/user-guide/basic-concepts/assets/overview-workflow.png
  website/docs/user-guide/basic-concepts/overview.mdx
Labels: documentation

#1761 Initial commit for DuckDuckGo support
  autogen/agents/experimental/websurfer/websurfer.py
  autogen/tools/experimental/__init__.py
  autogen/tools/experimental/duckduckgo/__init__.py
  autogen/tools/experimental/duckduckgo/duckduckgo_search.py
  notebook/tools_duckduckgo_search.ipynb
  test/interop/test_interoperability.py
  test/tools/experimental/duckduckgo/__init__.py
  test/tools/experimental/duckduckgo/test_duckduckgo.py
  test/tools/test_tool_imports.py
Labels: enhancement

#1769 Fix the tool description in CrewAI file read tool test
  test/interop/crewai/test_crewai.py
Labels: interoperability, tool use

#1794 Adding mcp examples for arxiv, filesystem and wikipedia
  .gitignore
  notebook/agentchat_mcp_arxiv.ipynb
  notebook/agentchat_mcp_filesystem.ipynb
  notebook/agentchat_mcp_wikipedia.ipynb
  notebook/mcp/context_docs/eiffel_tower.md
  notebook/mcp/mcp_arxiv.py
  notebook/mcp/mcp_filesystem.py
  notebook/mcp/mcp_proxy_giphy.ipynb
  notebook/mcp/mcp_wikipedia.py
Labels: documentation

#1800 [Docs] Add AG2 and CopilotKit announcement blog post
  website/docs/_blogs/2025-05-07-AG2-Copilot-Integration/img/AG2-CopilotKit.png
  website/docs/_blogs/2025-05-07-AG2-Copilot-Integration/img/ag2-copilotkit-architecture.png
  website/docs/_blogs/2025-05-07-AG2-Copilot-Integration/img/quick-start-1.png
  website/docs/_blogs/2025-05-07-AG2-Copilot-Integration/img/quick-start-2.png
  website/docs/_blogs/2025-05-07-AG2-Copilot-Integration/index.mdx
Labels: documentation

#1826 Add autonomous currency converter notebook using tools and API
  notebook/agentchat_function_call_currency_converter_tool_api.ipynb
Labels: documentation
